@using Game.Data.Models
@rendermode InteractiveServer
@inject NewGame Game

<div>
    <p>Chest:</p>
    <p>Chest Cap: @Game.Player.Chest.ResourceCap Items</p>

    @foreach(var item in Game.Player.Chest.Resources)
{
    <ResourceSummary Resource="item" />
}
</div>


@code {
protected override void OnInitialized()
{
    Game.OnStateChanged = StateHasChanged;
}
}
