@page "/crafting"
@using Game.Data.Models
@rendermode InteractiveServer
@inject NewGame Game

<div style="text-align:center;">
	<h2>Recipes</h2>
	@foreach (var recipe in Game.Player.Recipes)
	{
		<CraftingResourceComponent ItemToCraft="recipe" />
	}

	<br />
	<ChestSummary />
</div>


@code {
	protected override void OnInitialized()
	{
		Game.OnStateChanged = StateHasChanged;
	}
}
