@page "/gather"
@using Game.Data.Models
@rendermode InteractiveServer
@inject NewGame Game

<div>
    <div style="text-align:center;">
        <h1>Gather Resources</h1>
        <p>Chest Storage: @Game.Player.Chest.Resources.Count/@Game.Player.Chest.ResourceCap</p>
    </div>

    @foreach(var availableResource in Game.Player.UnlockedResources)
    {
        <ResourceGatheringComponent Resource="availableResource" />
    }
</div>

@code {
    @code {
        protected override void OnInitialized()
        {
            Game.OnStateChanged = StateHasChanged;
        }
    }
}
