@page "/"
@using Game.Data.Models
@using Game.Data.Models.Resources
@inject NewGame game

<PageTitle>Summary</PageTitle>

<h1>Hello, world!</h1>

Details will go here about the town someday...